
body, html{
	height: 100%;
}

article{
	margin-bottom: 20px;
}

article h1{
	font-size: 20px;
	line-height: 25px;
}


aside h2{
	font-size: 18px;
	line-height: 23px;
	text-align:center;
}

aside ul{
	margin: 0 0 20px 0;
	text-align:center;
	list-style:none;
}


code{
	display:block;
	white-space: normal; 
}

select{max-width: 100%;}

h2.widgettitle, h2.description{
	font-size: 17.5px;
	line-height: 20px;
}

.container-fluid{
	max-width: 1000px; /* CHANGE THIS TO CHANGE WIDTH OF PAGE */
	margin: 0 auto;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 50px;
	margin:0 auto -60px
}

.commentlist{list-style:none; margin: 0}
.commentlist li{clear:both;}
.comment-avatar{float:left; margin: 0 10px 10px 0}
.comment-author{font-weight:bold;}
.comment-meta-data{font-size: .8em; line-height: 1em;}


textarea#comment{
	width:100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	height: 150px;

}

/* header nav */

.mininav-wrapper {float:right;}
.menunav-social-wrapper{float:left;}

.menunav-rss, .mininav-wrapper a{
	padding: 10px 15px 10px;
	color: #777;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	display:inline-block;
}

.menunav-rss:hover{
	color: #333;
	text-decoration: none;
	background-color: transparent;
}

/* menunav social icons */

.menunav-social-wrapper {
	float: right;
	display: inline-block;
	padding: 5px 15px 10px;
}

.menunav-social {
	text-indent: -9999px;
	display: inline-block;
	float: left;
	height: 25px;
	width: 25px;
	padding: 0;
	margin: 0;
}

.menunav-twitter {
	background: url('../images/icons/twitter.png') no-repeat;
}
.menunav-rss2 {
	background: url('../images/icons/rss.png') no-repeat;
	margin-right: 3px;
}
.menunav-facebook {
	background: url('../images/icons/facebook.png') no-repeat;
}
.menunav-googleplus {
	background: url('../images/icons/googleplus.png') no-repeat;
}
.menunav-linkedin {
	background: url('../images/icons/linkedin.png') no-repeat;
}
.menunav-pinterest {
	background: url('../images/icons/pinterest.png') no-repeat;
}
.menunav-youtube {
	background: url('../images/icons/youtube.png') no-repeat;
}
.menunav-flickr {
	background: url('../images/icons/flickr.png') no-repeat;
}
.menunav-tumblr {
	background: url('../images/icons/tumblr.png') no-repeat;
}
.menunav-deviantart {
	background: url('../images/icons/deviantart.png') no-repeat;
}
.menunav-myspace {
	background: url('../images/icons/myspace.png') no-repeat;
}
.menunav-email {
	background: url('../images/icons/email.png') no-repeat;
}

.menunav-social:hover {
	background-position: 0 -25px;
}

/*blog-post */

.post-text{
	font-size: 11px;
	line-height: 14px;
	margin-bottom: 20px;
}


/* comic-nav */
.comic_navi, #comic-nav-wrapper{
	margin: 0 auto;
	width: 75%;
}

	.comic_navi .comic_navi_title, .comic_navi_center{
		text-align:center;
	}

	.comic_navi_right{
		text-align:right;
	}

.comic-nav-container td{
	text-align:center;
}

/* comic layout */

#comic-wrap{
}

#comic-wrap div{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#comic-head{
	width: 100%;
}

.comicSidebars0 #sidebar-left-of-comic,  
.comicSidebars0 #sidebar-right-of-comic{
	display:none;
}

/*this is copying span2 in bootstrap,
not applying span2 class for these because these
refer to the easel plugin  */
#sidebar-left-of-comic,  
#sidebar-right-of-comic{  
	width: 14.893617021276595%;
	*width: 14.840425531914894%;
    float:left;
    padding: 0 20px;
}

#sidebar-right-of-comic{
	 margin-left: 2.127659574468085%;
}



.comicSidebars2 #comic{
 	 width: 65.95744680851064%;
  	*width: 65.90425531914893%;
  	float:left;
  	margin-left: 2.127659574468085%;
}

.comicSidebars1 #comic{
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
  	float:left;
  	margin-left: 2.127659574468085%;
}

.comicSidebars1.rightSidebar #comic{
	margin-left:0px;
}

#comic-foot{
	clear:both;
	width: 100%;
}




.post-calendar-date {
	color: #777;
	font-size: 15px;
	font-weight: bold;
	float: left;
	margin-right: 3px;
}

.post-calendar-date .calendar-date {
	height: 50px;
	width: 45px;
	background: url(../../easel/images/calendar.png) center no-repeat;
	font-size: 22px;
	font-style: normal;
	color: #000;
	text-align: center;
	line-height: 100%;
	padding: 0 2px 0 0;
}


.post-calendar-date .calendar-date span {
	height: 16px;
	padding: 1px 0 4px 0;
	display: block;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-align: center;
}

.postdate {
	font-size: 11px;
}
/* footer */

#footer, #push{
	height: 60px;
}

#footer{
	background-color: #f5f5f5;
}

	#footer p.footer-text{
		margin: 20px 0;
		text-align:center;
	}



/*Archive page */

.comic-archive-date{
	display:inline-block;
	width: 100px;
}



/* Tablet Sizes */
@media (max-width: 979px) {
	.row-fluid .leaderboard{
		width: auto;
		margin: 10px auto;
		display:block;
		float:none;
	}

	.mininav-wrapper{
		display:none;
	}

	.menunav-social-wrapper{float:none;}

	.menunav-rss{
		padding: 9px 15px;
		font-weight: bold;
		color: #777;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		display:block;
		width: auto;
	}
	.menunav-rss:hover, .menunav-rss:focus, .menunav-social-wrapper a:focus{
		background: #f2f2f2;
	}

	.nav-collapse .nav{
		margin-bottom: 0;
	}

}

/* Phone Sizes */ 
@media (max-width: 767px) {
	#footer{
		background: transparent;
	}

	.comicSidebars2 #comic, 
	.comicSidebars1 #comic{
		width: 100%;
		float:none;
		margin:0;
		padding:0;
	}
	/* For mobile browsing optimization/ease of naviation, 
	I'm just hiding all comic sidebars */
	#comic-wrap .sidebar{
		display:none;
	}
}